<nav class="nav">
    <div class="nav__border"></div>
    <a href="/login" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">login</i>
        </div>
        <span class="nav__label">Login</span>
    </a>
    <a href="/register" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">app_registration</i>
        </div>
        <span class="nav__label">Register</span>
    </a>
    <a href="/home" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">home</i>
        </div>
        <span class="nav__label">Home</span>
    </a>
    <a href="/account" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">account_circle</i>
        </div>
        <span class="nav__label">Account</span>
    </a>
    <a href="/exams" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">assessment</i>
        </div>
        <span class="nav__label">Exams</span>
    </a>
    <a href="/countries" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">flag</i>
        </div>
        <span class="nav__label">Countries</span>
    </a>
    <a href="/colleges" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">school</i>
        </div>
        <span class="nav__label">Colleges</span>
    </a>
    <a href="/logout" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">logout</i>
        </div>
        <span class="nav__label">Logout</span>
    </a>
    <a href="JavaScript:newWindow()" class="nav__link">
        <div class="nav__icon-container">
            <i class="material-icons">contact_page</i>
        </div>
        <span class="nav__label">Contact Us</span>
    </a>
</nav>